
@import url('https://fonts.googleapis.com/css2?family=Playfair+Display:ital,wght@0,400..900;1,400..900&display=swap');
/*common css start*/
body{
	margin: 0;
	padding: 0;
	font-family: "Playfair Display", serif;
	font-size: 16px;
	font-weight: 400;
	color: #626262 ;
}
/*common css end*/
/*header strat*/
header{
	padding:20px 0;
}
.container{
	width: 90%;
	margin: 0 auto;
	overflow: hidden;
}
.logo{
	margin-top: 12px;
	width: 12%;
	float: left;
}
.logo a img{
	width: 100%;
}
.menu{
	width: 75%;
	float: right;
}
.menu ul{
	float: right;
}
.menu ul li{
	list-style: none;
	float: left;
}
.menu ul li a{
	display: inline-block;
	margin: 0 55px;
	color: #626262; 
	text-decoration: none;
	text-transform: uppercase;
	border-bottom: 1px solid transparent;
	transition: .33s linear;
}
.menu ul li:last-child a{
	margin-right: 0;
}
.menu ul li a:hover{
	border-bottom: 1px solid #626262;
}
/*header strat*/